@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #C6D5C3;
  --text: #000000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg: #3E5339;
    --text: #ffffff;
  }
} */

body {
  color: var(--text);
  background: var(--bg)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
